@import '../../../../styles/scss/variables';

.overlayWrapper{
    position: fixed;
    top: 150%;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #fff;
    z-index: 9999;
    transition: top ease 500ms;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlayCloseButton{
    position: absolute;
    top: 30px;
    right: $desktop-margin;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 2; 
    div{
        position: absolute;
        top: 50%;
        left: 0;
        width: 32px;
        height: 3px;
        background: #000;
        transform-origin: center;
        &:nth-child(1){transform: rotateZ(45deg)}   
        &:nth-child(2){transform: rotateZ(-45deg)}
    }
    @media only screen and (max-width: $MOBILE){
        right: $mobile-margin;
    }
}

.overlayInfo{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: $desktop-header-height $desktop-margin;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $MOBILE){
        padding: $desktop-header-height $mobile-margin;
    }

    span{
        &.overlayItalic{
            font-size: 1rem;
            letter-spacing: 0.1rem;
            font-style: italic;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            margin: 3pt 0;
        }
    }
    h1{
        font-size: 5vw;
        @media only screen and (max-width: $MOBILE){
            font-size: 8vw;
        }
        span{
            margin-top: 2pt;
            display: block;
            width: 100%;
            height: 3px;
            background: #a92626;
            font-family: 'Didact Gothic', sans-serif;
        }
    }
    ul{
        list-style: none;
        margin: 20pt 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        width: 100%;
        text-align: center;
        li{
            strong{
                font-weight: 600;
            }
        }
    }

    .overlayStatus{
        color: #fff;
        max-width: 100%;
        background: #a92626;
        text-align: center;
        text-transform: uppercase;
        padding: 10pt 30pt;
        font-weight: 600;
    }
}
