/* Width for mobile media queries */
/* Fonts as variables */
/* Colour pallette */
/* Side margins */
/* Height of the top banner */
/* 
    Side margins as left and right MARGIN properties 
     - for use with other elements
*/
/*
    Side margins as left and right PADDING properties 
     - for use with other elements
*/
.pageWrapper {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  width: 80%;
  padding-bottom: 80pt;
  min-height: 100vh;
}

@media only screen and (max-width: 700px) {
  .pageWrapper {
    width: 100%;
  }
}

.listWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5pt;
}

@media only screen and (max-width: 700px) {
  .listWrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.eventCard {
  width: 200pt;
  height: 200pt;
  margin: 5pt;
  position: relative;
}

.eventCard .eventCardInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 2px 2px 1em rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 1em rgba(0, 0, 0, 0.1);
}

.eventCard .eventCardInner .cardFront, .eventCard .eventCardInner .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  border: 2px solid #a92626;
  background: #fff;
}

.eventCard .eventCardInner .cardFront h3, .eventCard .eventCardInner .cardFront h4, .eventCard .eventCardInner .cardFront button, .eventCard .eventCardInner .cardBack h3, .eventCard .eventCardInner .cardBack h4, .eventCard .eventCardInner .cardBack button {
  margin: 3pt 0;
}

.eventCard .eventCardInner .cardFront h3, .eventCard .eventCardInner .cardFront h4, .eventCard .eventCardInner .cardBack h3, .eventCard .eventCardInner .cardBack h4 {
  cursor: default;
}

.eventCard .eventCardInner .cardBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.eventCard .eventCardInner .cardBack button {
  background: #a92626;
  color: #fff;
  padding: 6pt 12pt;
  border: none;
  cursor: pointer;
}

.eventCard:hover .eventCardInner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.yearCard {
  width: 200pt;
  height: 200pt;
  margin: 5pt;
  position: relative;
}

.yearCard div {
  position: absolute;
  font-size: 100pt;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yearCard div:nth-child(1) {
  bottom: 50%;
  right: 50%;
  color: #a92626;
}

.yearCard div:nth-child(2) {
  bottom: 50%;
  left: 50%;
}

.yearCard div:nth-child(3) {
  top: 50%;
  right: 50%;
}

.yearCard div:nth-child(4) {
  top: 50%;
  left: 50%;
  color: #a92626;
}

/* Width for mobile media queries */
/* Fonts as variables */
/* Colour pallette */
/* Side margins */
/* Height of the top banner */
/* 
    Side margins as left and right MARGIN properties 
     - for use with other elements
*/
/*
    Side margins as left and right PADDING properties 
     - for use with other elements
*/
.overlayWrapper {
  position: fixed;
  top: 150%;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #fff;
  z-index: 9999;
  -webkit-transition: top ease 500ms;
  transition: top ease 500ms;
  overflow-x: hidden;
  overflow-y: auto;
}

.overlayCloseButton {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
}

.overlayCloseButton div {
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 3px;
  background: #000;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.overlayCloseButton div:nth-child(1) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.overlayCloseButton div:nth-child(2) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

@media only screen and (max-width: 700px) {
  .overlayCloseButton {
    right: 20px;
  }
}

.overlayInfo {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 95px 50px;
  background: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 700px) {
  .overlayInfo {
    padding: 95px 20px;
  }
}

.overlayInfo span.overlayItalic {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 3pt 0;
}

.overlayInfo h1 {
  font-size: 5vw;
}

@media only screen and (max-width: 700px) {
  .overlayInfo h1 {
    font-size: 8vw;
  }
}

.overlayInfo h1 span {
  margin-top: 2pt;
  display: block;
  width: 100%;
  height: 3px;
  background: #a92626;
  font-family: 'Didact Gothic', sans-serif;
}

.overlayInfo ul {
  list-style: none;
  margin: 20pt 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.overlayInfo ul li strong {
  font-weight: 600;
}

.overlayInfo .overlayStatus {
  color: #fff;
  max-width: 100%;
  background: #a92626;
  text-align: center;
  text-transform: uppercase;
  padding: 10pt 30pt;
  font-weight: 600;
}
