#menu {
	z-index: 2;
	position: fixed;
	top: $desktop-header-height;
	right: -1000px;
	width: 300px;
	height: calc(100vh - #{$desktop-header-height});
	padding: 30pt $desktop-margin;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: center;
	transition: right ease-in-out 0.4s;
	backdrop-filter: blur(1rem);
	@media only screen and (max-width: $MOBILE){
		width: 100%;
		align-items: center;
		text-align: center;
	}
	// Bring into view
	&.showing {
		right: 0;
	}
	// Menu items
	ul {
        list-style: none;
        display: flex;
        flex-direction: column;
		li {
            position: relative;
            float: right;
            width: auto;
            display: block;
			text-transform: lowercase;
			font-size: 24px;
			text-align: right;
			padding: 3px 0;
			margin: 5px 0;
			@media only screen and (max-width: $MOBILE){
				float: none;
				text-align: center;
			}
			// Hidden underlining of menu items
			span {
				position: absolute;
				display: block;
				bottom: 0;
				right: 0;
				width: 0;
				height: 2px;
				transition: width ease-in-out 0.2s;
				@media only screen and (max-width: $MOBILE){
					left: 0;
				}
			}
			// Animate underlining the menu items
			&:hover {
				span {
					width: 100%;
				}
			}
		}
	}
}

// Social media icons
#menu-socialMedia{
	width: 100%;
	margin-top: 10pt;
	ul {
		list-style: none;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-end;
		li {
			// Resize svgs to 36x36px
			.menu-socmed-icon {
				width: 36px;
				height: 36px;
				margin-left: 10px;
				cursor: pointer;
				// On hover edit fill color covered in 
				// /styles/scss/_rules.scss
				// This is so that it applies to the contact page also
			}
		}
	}
}