.footer{
    width: 100%;
    padding: 10pt 0;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    
    @media only screen and (max-width: $MOBILE){
        display: none;
    }
}