.adminTextInput{
    display: block;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20pt;
    
    input,
    textarea{
        width: 100%;
        padding: 10pt;
        color: #fff;
        text-align: left;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 7px;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 2pt;
        
        &::placeholder{
            color: rgba(255,255,255,0.7);
            font-weight: 400;
            font-style: italic;
        }
    }
}