/* Width for mobile media queries */
/* Fonts as variables */
/* Colour pallette */
/* Side margins */
/* Height of the top banner */
/* 
    Side margins as left and right MARGIN properties 
     - for use with other elements
*/
/*
    Side margins as left and right PADDING properties 
     - for use with other elements
*/
.moduleWrapper {
  margin: 0 -50px 0 -50px;
  padding: 5vh 50px;
}

@media only screen and (max-width: 700px) {
  .moduleWrapper {
    margin: -30pt;
    padding: 5vh 20px;
  }
}

.fullScreenLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  color: #fff;
}

.fullScreenInnerWrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullScreenCloseButton {
  position: absolute;
  top: 30pt;
  right: 15pt;
  width: 48px;
  height: 48px;
  border: none;
  z-index: 2;
  background: transparent;
}

.fullScreenCloseButton::after {
  content: "CLOSE";
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20pt 40pt;
  border-radius: 100vw;
  font-size: 14pt;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fullScreenCloseButton:hover::after {
  opacity: 1;
}

.fullScreenCloseButton div {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 2px;
  background: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.fullScreenCloseButton div:nth-child(1) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.fullScreenCloseButton div:nth-child(2) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
