@import '../../../styles/scss/variables';

.moduleWrapper{
    margin: 0 (-$desktop-margin) 0 (-$desktop-margin);
    padding: 5vh $desktop-margin;
    @media only screen and (max-width: $MOBILE){
        margin: 15pt -$mobile-margin -15pt -$mobile-margin;
        padding: 5vh $mobile-margin;
    }
}

.fullScreenLightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $dark;
    z-index: 2;
    color: #fff;
}

.fullScreenInnerWrapper{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullScreenCloseButton{
    position: absolute;
    bottom: 15pt;
    right: 15pt;
    width: 48px;
    height: 48px;
    border: none;
    z-index: 2;
    background: transparent;
    &::after{
        content: "CLOSE";
        background: rgba(0,0,0,0.4);
        color: #fff;
        padding: 20pt 40pt;
        border-radius: 100vw;
        font-size: 14pt;
        position: fixed;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: opacity 200ms ease;
        transform: translate(-50%, -50%)
    }

    &:hover{
        &::after{
            opacity: 1;
        }
    }
    
    div{
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 2px;
        background: #fff;
        transform-origin: center;
        &:nth-child(1){
            transform: rotateZ(45deg);
        }
        &:nth-child(2){
            transform: rotateZ(-45deg);
        }
    }
}