@import '../../../../styles/scss/variables';

.biogSection{
    width: 100%;
    padding: 50pt $desktop-margin;
    overflow: hidden;
    @media only screen and (max-width: $MOBILE){
        padding: 50pt $mobile-margin;
    }
    
    &.titleSection{
        background: #252525;
        background-position: center 0;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: auto;
        height: 70vw;
        max-height: 100vh;
        color: #fff;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
        perspective: 200px;
        font-family: 'Didact Gothic', sans-serif;
        // img{
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     min-width: 100%;
        //     min-height: 100%;
        //     z-index: 0;
        // }
        // h1{
        //     z-index: 1;
        // }
    }
    
    &.biogSection{
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: 0.0095rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            white-space: pre-line;
            display: block;
            max-width: 700px;
        }
    }

    &.quoteSection{
        position: relative;
        background: #252525;
        background-image:url(https://images.unsplash.com/photo-1458639817867-2c9d4c5dcad4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-size: cover;
        min-height: 70vh;
        background-attachment: fixed;

        .quoteInner{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 100pt $desktop-margin;
            text-align: center;
            
            h2{
                position: relative;
                font-size: 2rem;
                line-height: 2.7rem;
                max-width: 800px;
                &::before,
                &::after{
                    position: absolute;
                    font-size: 6rem;
                    font-weight: 300;
                    font-family: 'Didact Gothic', sans-serif;
                }
                &::before{
                    content: "“";
                    top: -1rem;
                    left: 0;
                }
                &::after{
                    content: "”";
                    bottom: -6rem;
                    right: 0;
                    line-height: 0;
                }
            }
            h3{
                margin-top: 2rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }
        }
    }

    &.downloadSection{
        background: #3c4d33;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 15pt;
        }
        .downloadText{
            height: 100%;
            padding: 15pt;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 650px;
        }

        @media only screen and (max-width: $MOBILE){
            img{
                margin: $mobile-margin; 
            }
            .downloadText{
                padding: $mobile-margin 0;
                width: 100%;
                align-items: center;
                h2, p {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        
        .requestButton{
            margin-top: 10pt;
            border: 2px solid #fff;
            padding: 5pt 10pt;
            transition: all ease 400ms;
            height: 32pt;

            input{
                background: transparent;
                color: #fff;
                border: none;
                width: 200px;
                padding: 5pt;
                height: 100%;
                &::placeholder{
                    color: #fff;
                }
            }

            button{
                background: #fff;
                color: #3c4d33;
                font-weight: 600;
                height: 30pt;
                border: none;
                padding: 0 5pt;
                margin: -5pt -10pt -5pt 5pt;
            }
        }

        h5{
            margin-top: 5pt;
            font-weight: 300;
            font-style: italic;
        }
    }
}